global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Мониторим саму Ubuntu
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
        labels:
          instance: 'Ubuntu-Server'

  # Prometheus сам себя
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
        labels:
          instance: 'Prometheus'
